*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    cursor: pointer;
}
img {
    vertical-align: middle;
    border-style: none;
    height: auto;
}
ul{
    list-style: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
}
button, input {
    overflow: visible;
    outline: none !important;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
}
.header_TopBar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c5b41;
}
.header_TopBar_Container{
    width: 75%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.header_TopBar_Container div {
    line-height: 44px;
}
.header_TopBar_Container_Search {
    width: 475px;
    display: flex;
    align-items: center;
}
.header_TopBar_Container_Search-input{
    border: none;
   
}
.header_TopBar_Container_Search form{
    display: flex;
    background-color: #fff;
    border-radius: 44px;
    width: 100%;
}

.header_TopBar_Container_Search-text{
    width: 150px;
    text-align: center;
    border-right: 1px #e5e5e5 solid;
}
.header_TopBar_Container_Search-input input{
    height: 44px;
    width: 100%;
    padding-left: 15px;
}
.header_TopBar_Container_Search-icon{
    font-size: 20px;
    width: 90px;
    background-color: #fe9614;
    border-radius: 0 40px 40px 0;
    color: #fff;
    text-align: center;
}

.header_TopBar_Container_User div{
    display: inline-block;
    
}
.header_TopBar_Container_User i{
    font-size: 24px;
    color: #fff;
    position: relative;
}
.header_TopBar_Container_User_Account a{
    color: #fff;
    font-weight: 400;
}
.headerMenu_container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.headerMenu_container_Menu ul{
    display: flex;
}
.headerMenu a{
    color: #1c5b41;
    font-size: 15px;
    margin: 0 10px;
    font-weight: 600;
}
.headerMenu ul li a:hover{
    color: #fe9614;
}
.activate a{
    color: #fe9614;
}
.container_service{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.container_service--item{
    display: flex;
    margin: 25px 0;
    flex-direction: column;
    align-items: center;
}
.service h3{
    color: #fff;
    padding-bottom: 5px;
}
.container_service--item img{
    margin-bottom: 15px;
    height: 46px;
    display: flex;
}
.title h1{
    font-size: 40px;
    color: #1c5b41;
    font-weight: 700;
    position: relative;
}
.title-sale h1{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin: 30px 0px;
}
.title ::before{
    content: "";
    position: absolute;
    width: 105px;
    height: 3px;
    background-color: #fe9614;
    border-radius: 1px;
    top : -23px;
   
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul i{
    font-size: 26px;
}
.menu ul li{
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 16px;
}
.product_header{
    display: flex; 
    justify-content: space-between ; 
    margin: 30px 0;
}
.hot_activate {
    background-color: #fe9614;
    border-radius: 10px;
    color: #fff;
}
.container ul li:hover{
    color: #fff;
    background-color: #fe9614;
    border-radius: 10px;
}
#list_product_hot{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.container{
    padding-top: 50px;
    width: 75%; 
    margin: 0px auto ;
}
.price{
    color: #fe9614;
}
.a_XemTatCa{
    padding: 50px 0;
    text-align: center;
}
.sale a{
    padding: 20px 70px;
    border-radius: 10px;
    background-color: #fe9614;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.a_XemTatCa a{
    padding: 20px 70px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.hot a{
    background-color: #1c5b41;
}
.sale a{
    background-color: #fe9614;
}
.hot a:hover{
    background-color: #fe9614;
}
.sale a:hover{
    background-color: #fff;
    color: #fe9614;
}
#list_product_new{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
}
#list_product_sale{
    background-color: #1c5b41;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 27px;
    margin-top: 20px;
}
#list_product_goodprice{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    margin-left: 30px;
}
#list-blog{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px;
    margin: 50px 0px;
}
#list_product_sale .title a{
    color: #fff;
}

.blog_content-item img{
    width: 100%;
    height: 216px;
    border-radius: 10px;
}
.time-port i{
    font-size: 15px;
}
.time-port-item{
    font-weight: 400;
    font-size: 13px;
    color: #808080;
    margin: 0 5px;
}
.blog_content-item a{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #303030;
}
.muiten{
    font-size: 20px;
    color: #f97e6c;
    margin-left: 5px;
}
.blog_content-item h3{
    margin-top: 30px;
     color: #494949;
}
.justify{
    font-size: 14px;
    margin: 10px 0;
    font-weight: 400;
    line-height: 22px;
    color: #656565;
    height: 45px;
    overflow: hidden;
}
.container_brand {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.mail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fe9614;
    padding: 25px 0;
}
.mail h3{
    font-size: 16px;
    color: #fff;
    margin-left: 45px;
}
.mail form{
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 45px;
}
.mail form input{
    width: 385px;
    padding: 0 110px 0 10px;
}
.mail form button{
    width: 100px;
    height: 100%;
    border-radius: 10px;
    background: #333;
    color: #fff;
}
footer{
    height: 420px;
    background-color: #000000;
}
footer p{
    color: #AEAEAE;
    font-size: 16px;
}
.container_footer{
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;
   display: grid;
   grid-template-columns: 550px 1.5fr 2fr 1fr;
}
.column{
    display: flex;
    flex-direction: column;
}
.column h3{
    color: #fff;
}
.column li{
    color: #AEAEAE;
    font-size: 16px;
}
.column1{
    margin-right: 100px;
}
.column i{
    font-size: 20px;
    color: #fff;
    height: 36px;
    padding: 8px 10px;
    border-radius: 7px;
    background-color: #fe9614;
    margin-right: 14px;
}
.column4 i{
    font-size: 15px;
    margin-right: 5px;
    height: 32px;
    width: 32px;
    text-align: center;
}
.column1 .text{
    font-weight: 500;
    font-size: 18px;
    color: #FE9614;
}
.column1 a{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fe9614;
}
.column h3{
    margin-bottom: 30px;
}
.column li{
    margin: 20px 0;
}
.column1 li{
    margin: 30px 0;
}
.BanQuyen{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #AEAEAE;
    padding: 12px 0;
    font-size: 13px;
    font-weight: 100;
}



@media only screen and (max-width : 1200px) {
   .headerMenu {
    display: none;
   }
   .header_TopBar{
    height: 65px;
    position: relative;
    line-height: 30px;
    margin-bottom: 60px;
   }
   .header_TopBar_Container_Search{
    position: absolute;
    top : 75px;
    left: 0px;
    margin-left: 20px;
    width: calc(100% - 30px);
   }
}